@charset "UTF-8";
body {
  font-family: 'Microsoft YaHei';
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

html {
  width: 100%;
  height: 100%; }

.navbar-default .navbar-toggle {
  height: 30px;
  width: 30px;
  background-color: none;
  border: none;
  padding: 0; }
  .navbar-default .navbar-toggle:hover {
    background-color: transparent !important; }

#iclick {
  margin-top: 22px; }

.nav-bg {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2; }

.Header {
  max-width: 1200px;
  margin: 0 auto; }

.logo-tit {
  font-size: 22px;
  height: 43px;
  line-height: 43px;
  margin-left: 18px;
  color: #fff;
  letter-spacing: 2px; }

.Header .logos {
  /*background: url("../img/logo.gif") no-repeat;*/ }

.navbar-brand {
  height: auto; }

.navbar {
  margin-bottom: 0; }

.navbar-default {
  background-color: transparent;
  border-color: transparent; }

.nav.navbar-nav > li > a.squares:hover {
  color: #fff; }

.nav.navbar-nav > li > a:not(.squares) {
  height: 100%;
  text-align: center; }
  .nav.navbar-nav > li > a:not(.squares):hover {
    color: #36ccb5 !important; }

.navbar-nav > li > a {
  padding-top: 0;
  padding-bottom: 0;
  height: 72px;
  line-height: 72px;
  font-size: 16px;
  color: #fff; }

.navbar-default .navbar-nav > li > a {
  color: #fff; }

.navbar-nav > li > a.squares {
  line-height: 66px;
  opacity: 0.5; }

.navbar-collapse[aria-expanded="true"] {
  background-color: #fff; }

.navbar-collapse.collapsing {
  background-color: #fff; }

.navbar-collapse[aria-expanded="true"] .navbar-nav li > a {
  color: #666 !important;
  text-align: center; }

.bg-pic {
  width: 100%;
  height: 100%;
  background: url("../img/header_bg_center.jpg") no-repeat;
  background-size: 100% 100%;
  position: relative; }
  .bg-pic .banner-txt {
    text-align: center;
    color: #fff;
    position: absolute;
    width: 70%;
    left: 15%;
    top: 50%; }
    .bg-pic .banner-txt h2 {
      font-size: 63px; }
    .bg-pic .banner-txt p {
      color: #fff;
      font-size: 20px;
      margin-top: 20px;
      opacity: 0.5;
      filter: alpha(opacity=50); }
  .bg-pic .sth {
    width: 178px;
    color: #fff;
    font-weight: bold;
    line-height: 50px;
    border: 1px #fff solid;
    height: 50px;
    margin: 0 auto;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    position: absolute;
    bottom: 54px;
    left: 50%;
    margin-left: -89px; }
    .bg-pic .sth:after {
      display: block;
      content: url("../img/arrow-down.png");
      text-align: center; }

.important666 {
  color: #666 !important; }

.w1200 {
  width: 1200px;
  margin: 0 auto; }

.auto_w1200 {
  width: 70%;
  margin-left: 15%; }

.fon {
  background-color: #f2f3f7;
  padding: 120px 0; }
  .fon .wwd {
    font-size: 46px;
    color: #292929;
    font-weight: bold;
    text-align: center; }
    .fon .wwd:after {
      content: "";
      display: block;
      width: 60px;
      border-bottom: 3px #d2d2d2 solid;
      margin: 0 auto;
      margin-top: 22px; }
  .fon .tc {
    text-align: center;
    font-size: 21px;
    color: #595959;
    line-height: 36px; }
    .fon .tc:before {
      content: url("../img/icon-quote.png");
      display: block;
      margin-top: 38px;
      margin-bottom: 20px; }

.auto_w70 {
  width: 70%;
  margin-left: 15%; }

.threes {
  margin-top: 88px; }
  .threes .h-pic {
    cursor: pointer;
    width: 94px;
    height: 94px;
    border-radius: 50%;
    background: #d2d2d2 url("../img/icon_intro.png") no-repeat;
    margin: 0 auto;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
    .threes .h-pic:hover {
      background-color: #3cb5ec;
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); }
    .threes .h-pic:hover + .tcc {
      color: #282828; }
  .threes .pic-1 {
    background-position-x: 2px; }
  .threes .pic-2 {
    background-position-x: -93px; }
  .threes .pic-3 {
    background-position-x: -187px;
    background-position-y: 3px; }
  .threes .tcc {
    margin-top: 30px;
    margin-bottom: 18px;
    text-align: center;
    font-size: 20px;
    color: #868686; }
  .threes p {
    line-height: 28px;
    text-align: center;
    color: #868686;
    font-size: 16px;
    /* 多行文本溢出css控制代码 */
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    /* 规定自动换行的处理方法 允许在单词内换行 */
    -webkit-box-orient: vertical;
    /* 排列内容方向 从上向下垂直排列子元素 */
    -webkit-line-clamp: 2;
    /* 不规范的CSS代码作用 限制在一个块元素显示的文本的行数 */ }

/**
 * [and description]:当屏幕尺寸小于768开始作用;
 * @author
 * @dateTime 2016-10-18T14:46:10+0800
 * @param    {[type]}                 max-width: 768px         [description]
 * @return   {[type]}                            [description]
 */
@media screen and (max-width: 768px) {
  /*行业分类样式修改*/
  .threes .mobile-bottom {
    margin-bottom: 30px; }

  /* our works */
  .works .pic_nav {
    width: 60%;
    margin-left: 20%; } }
.works {
  background-color: #fff;
  padding: 120px 0 0 0;
  width: 100%; }
  .works .wwd {
    font-size: 46px;
    color: #292929;
    font-weight: bold;
    text-align: center; }
    .works .wwd:after {
      content: "";
      display: block;
      width: 60px;
      border-bottom: 3px #d2d2d2 solid;
      margin: 0 auto;
      margin-top: 31px;
      margin-bottom: 26px; }
  .works .pic_nav {
    text-align: center;
    width: 36%;
    margin-left: 32%;
    margin: 40px auto; }
    .works .pic_nav .active {
      background: #ebebeb;
      /* font-size: 20px; */
      /* color: #353535; */ }
    .works .pic_nav a {
      padding: 12px 0;
      width: 100%;
      text-align: center;
      font-size: 18px;
      display: inline-block;
      color: #767676; }
      .works .pic_nav a:hover {
        text-decoration: none; }
      .works .pic_nav a:link {
        text-decoration: none; }
  .works .sp-box {
    width: 100%;
    height: auto;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .works .sp-box .swiper-container {
      height: 100%; }
      .works .sp-box .swiper-container .swiper-wrapper .swiper-slide .content-w {
        padding: 0;
        overflow: hidden;
        position: relative; }
        .works .sp-box .swiper-container .swiper-wrapper .swiper-slide .content-w .dsg {
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 1; }
          .works .sp-box .swiper-container .swiper-wrapper .swiper-slide .content-w .dsg:hover > img {
            -webkit-transform: scale(1.1) !important;
            transform: scale(1.1) !important; }
          .works .sp-box .swiper-container .swiper-wrapper .swiper-slide .content-w .dsg:hover > .modals {
            display: block;
            opacity: 1; }
          .works .sp-box .swiper-container .swiper-wrapper .swiper-slide .content-w .dsg .bppic {
            will-change: transform;
            -webkit-transform: translate3d(0, 0, 0);
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            -webkit-transform: scale(1);
            transform: scale(1); }
        .works .sp-box .swiper-container .swiper-wrapper .swiper-slide .content-w .imgscale {
          -webkit-transform: scale(1.4) !important;
          transform: scale(1.4) !important; }
        .works .sp-box .swiper-container .swiper-wrapper .swiper-slide .content-w .modals {
          opacity: 0;
          display: none;
          -webkit-transition: all 1s;
          transition: all 1s;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 2;
          width: 100%;
          height: 100%;
          background-color: #000;
          filter: alpha(opacity=50);
          background-color: rgba(0, 0, 0, 0.5); }
          .works .sp-box .swiper-container .swiper-wrapper .swiper-slide .content-w .modals .font-content {
            position: absolute;
            z-index: 2;
            display: table-cell;
            vertical-align: middle;
            width: 86%;
            margin-left: 7%;
            height: 50%;
            top: 25%;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0; }
            .works .sp-box .swiper-container .swiper-wrapper .swiper-slide .content-w .modals .font-content h3 {
              font-size: 3rem;
              color: #fff;
              text-align: center;
              margin-bottom: 40px; }
            .works .sp-box .swiper-container .swiper-wrapper .swiper-slide .content-w .modals .font-content p {
              font-size: 1.6rem;
              color: #fff;
              line-height: 24px;
              text-align: center;
              width: 80%;
              margin: 0 auto;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              /* 超过两行文本溢出*/
              -webkit-box-orient: vertical; }
            .works .sp-box .swiper-container .swiper-wrapper .swiper-slide .content-w .modals .font-content a {
              width: 64px;
              height: 64px;
              border-radius: 50%;
              border: 2px solid #fff;
              display: block;
              margin: 0 auto;
              margin-top: 1.6rem;
              background: url("../img/arrow_right.png") no-repeat 26px center;
              margin-top: 28px; }
    .works .sp-box .swiper-pagination {
      opacity: 0;
      filter: alpha(opacity=0); }
  .works .zhezhao {
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    filter: alpha(opacity=30);
    cursor: pointer;
    z-index: 1;
    display: none; }
  .works .fixinfobox {
    position: fixed;
    top: 73px;
    /*right: 0;*/
    right: -46%;
    width: 46%;
    background-color: #fff;
    height: calc(100% - 73px);
    overflow-y: scroll;
    z-index: 10; }
    .works .fixinfobox .prne a {
      display: inline-block;
      color: #8b8b8b;
      font-size: 17px;
      margin-right: 54px;
      height: 50px;
      line-height: 50px; }
    .works .fixinfobox .prne .prev-a {
      margin-left: 5%; }
    .works .fixinfobox .prne .closebtn0 {
      width: 50px;
      height: 50px;
      line-height: 50px;
      border-radius: 50%;
      text-align: center;
      position: absolute;
      right: 15px;
      top: 0;
      cursor: pointer; }
      .works .fixinfobox .prne .closebtn0:after {
        content: "";
        color: #666;
        font-size: 30px;
        position: relative;
        top: -2px;
        width: 50px;
        height: 50px;
        display: block;
        text-align: center;
        background: url("../img/close2.png"); }
    .works .fixinfobox .h-tit {
      color: #4c4c4c;
      font-size: 36px;
      text-align: center;
      margin-right: 20px; }
      .works .fixinfobox .h-tit:after {
        content: "PRODUCTS INTRODUCTION";
        font-size: 24px;
        color: #a6a6a6;
        display: block;
        margin-top: 14px;
        margin-bottom: 80px; }
    .works .fixinfobox .container-div {
      width: 90%;
      margin-left: 5%;
      text-align: center; }
      .works .fixinfobox .container-div dl {
        text-align: left;
        margin-bottom: 40px; }
        .works .fixinfobox .container-div dl dd {
          margin-top: 72px; }
          .works .fixinfobox .container-div dl dd p {
            font-size: 20px;
            line-height: 30px;
            color: #6b6b6b;
            text-indent: 2em;
            text-align: justify; }
          .works .fixinfobox .container-div dl dd h3 {
            font-size: 26px;
            color: #09c8c6;
            margin-bottom: 28px;
            font-weight: normal; }
        .works .fixinfobox .container-div dl dt {
          margin-top: 46px; }
          .works .fixinfobox .container-div dl dt p {
            font-size: 20px;
            line-height: 30px;
            color: #6b6b6b;
            text-indent: 2em;
            text-align: justify;
            font-weight: normal;
            font-family: arial,"Microsoft yahei"; }
  .works .counts {
    width: 70%;
    margin-left: 15%;
    margin-top: 30px; }
    .works .counts .items {
      /*float: left;*/ }
      .works .counts .items h3 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 0; }
        .works .counts .items h3 b {
          font-size: 34px;
          color: #2b2b2b;
          font-weight: normal;
          font-family: arial,"Microsoft yahei"; }
          .works .counts .items h3 b:after {
            content: "+";
            font-size: 25px;
            position: relative;
            left: 2px;
            top: -2px; }
      .works .counts .items p {
        text-align: center;
        font-size: 16px;
        color: #3c3c3c; }
        .works .counts .items p:before {
          content: ".....";
          display: block;
          margin-bottom: 8px;
          font-size: 2.4rem;
          text-align: center; }
    .works .counts .pec25 {
      /*width: 25%;*/
      -moz-box-sizing: border-box;
      box-sizing: border-box; }

.sur {
  width: 100%;
  background: url("../img/bgs.png");
  background-size: cover;
  margin-top: 20px;
  height: 760px; }
  .sur .auto_w1200 {
    text-align: center;
    position: relative; }
    .sur .auto_w1200 .wwd {
      margin-top: 60px;
      font-size: 46px;
      color: #fff;
      font-weight: bold;
      text-align: center; }
      .sur .auto_w1200 .wwd:after {
        content: "";
        display: block;
        width: 60px;
        border-bottom: 3px #fff solid;
        margin: 0 auto;
        margin-top: 31px;
        margin-bottom: 26px; }
    .sur .auto_w1200 .center-img {
      -webkit-filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.1));
      filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.1));
      width: 700px;
      position: absolute;
      left: 50%;
      margin-left: -350px;
      top: 300px; }
    .sur .auto_w1200 .ww_800 {
      width: 800px;
      margin: 0 auto;
      position: relative; }
      .sur .auto_w1200 .ww_800 .item-box {
        width: 330px;
        position: absolute; }
        .sur .auto_w1200 .ww_800 .item-box .c_left {
          float: left;
          width: 220px; }
          .sur .auto_w1200 .ww_800 .item-box .c_left h3 {
            font-size: 22px;
            color: #fff;
            text-align: right;
            margin-top: 28px; }
          .sur .auto_w1200 .ww_800 .item-box .c_left p {
            font-size: 16px;
            color: #fff;
            text-align: left;
            word-break: keep-all;
            word-wrap: break-word; }
          .sur .auto_w1200 .ww_800 .item-box .c_left .loadfonts {
            opacity: 0;
            transition: all 0.6s;
            transform: translateY(20px); }
        .sur .auto_w1200 .ww_800 .item-box .c_right {
          width: 80px;
          height: 80px;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          float: right;
          border-radius: 50%;
          text-align: center;
          line-height: 80px;
          background-color: #195b6f;
          cursor: pointer;
          -webkit-transition: all 0.5s;
          transition: all 0.5s; }
          .sur .auto_w1200 .ww_800 .item-box .c_right:hover {
            background-color: #3dc98a; }
      .sur .auto_w1200 .ww_800 .item1 {
        left: -318px;
        top: 428px; }
      .sur .auto_w1200 .ww_800 .item2 {
        left: -362px;
        top: 218px; }
      .sur .auto_w1200 .ww_800 .item3 {
        left: -202px;
        top: 76px; }
      .sur .auto_w1200 .ww_800 .item4 {
        left: 788px;
        top: 428px; }
      .sur .auto_w1200 .ww_800 .item5 {
        left: 836px;
        top: 218px; }
      .sur .auto_w1200 .ww_800 .item6 {
        left: 658px;
        top: 76px; }

.shows_contents {
  width: 100%;
  background-color: #fff;
  margin-top: 190px;
  margin-bottom: 78px; }
  .shows_contents .pec60 {
    width: 60%;
    margin-left: 20%; }
    .shows_contents .pec60 .fonts {
      text-align: center;
      font-size: 20px;
      color: #595959; }
  .shows_contents .pec70 {
    width: 70%;
    margin-left: 15%;
    margin-top: 80px; }
    .shows_contents .pec70 .items .padding-box {
      width: 90%;
      margin-left: 5%;
      overflow: hidden;
      position: relative; }
      .shows_contents .pec70 .items .padding-box .bg-hover {
        width: 100%;
        height: 100%;
        background-color: #000;
        filter: alpha(opacity=50);
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        cursor: pointer;
        opacity: 0; }
        .shows_contents .pec70 .items .padding-box .bg-hover .round-box {
          width: 60px;
          height: 60px;
          border: 2px solid #fff;
          border-radius: 50%;
          position: absolute;
          left: 50%;
          margin-left: -30px;
          text-align: center;
          /* top: 50%; */
          top: -50%;
          margin-top: -30px; }
          .shows_contents .pec70 .items .padding-box .bg-hover .round-box:after {
            content: "+";
            color: #fff;
            font-size: 34px;
            text-align: center;
            line-height: 52px; }
@keyframes round-animation1 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
      .shows_contents .pec70 .items .padding-box .animateds {
        animation-name: round-animation1;
        animation-duration: 0.6s;
        animation-timing-function: linear;
        animation-delay: 0;
        animation-iteration-count: 1;
        animation-direction: alternate;
        animation-fill-mode: forwards; }
      .shows_contents .pec70 .items .padding-box .green-box {
        background-color: #3dc98a;
        font-size: 40px;
        margin-top: 24px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: #fff;
        width: 20%;
        text-align: center; }
        .shows_contents .pec70 .items .padding-box .green-box .black-box {
          margin-top: 36px;
          background-color: #525252;
          font-size: 18px; }
      .shows_contents .pec70 .items .padding-box .right-box {
        width: 76%;
        margin-left: 4%;
        margin-top: 24px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: 118px; }
        .shows_contents .pec70 .items .padding-box .right-box h3 {
          color: #373737;
          font-size: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical; }
        .shows_contents .pec70 .items .padding-box .right-box p {
          font-size: 16px;
          color: #373737;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical; }

.team .wwd {
  font-size: 46px;
  color: #292929;
  font-weight: bold;
  text-align: center; }
  .team .wwd:after {
    content: "";
    display: block;
    width: 60px;
    border-bottom: 3px #d2d2d2 solid;
    margin: 0 auto;
    margin-top: 31px;
    margin-bottom: 26px; }
.team .ww_1200 {
  width: 1200px;
  margin: 0 auto;
  position: relative; }
  .team .ww_1200 #selrount li {
    opacity: 0.8;
    filter: alpha(opacity=80);
    width: 416px;
    background: #52afe5;
    color: #fff;
    border-radius: 3px;
    padding: 28px 18px 12px 18px;
    font-size: 16px;
    line-height: 20px;
    height: 74px;
    text-align: justify;
    position: absolute;
    display: none; }
    .team .ww_1200 #selrount li:after {
      content: "";
      display: block;
      position: relative;
      width: 0;
      height: 0;
      border-top: 14px solid #52afe5;
      border-right: 9px solid transparent;
      border-left: 9px solid transparent;
      top: 24px;
      left: 0px; }
  .team .ww_1200 #selrount .item1 {
    left: 146px;
    top: 134px; }
  .team .ww_1200 #selrount .item2 {
    left: 230px;
    top: 108px; }
  .team .ww_1200 #selrount .item3 {
    left: 340px;
    top: 134px; }
  .team .ww_1200 #selrount .item4 {
    left: 484px;
    top: 140px; }
  .team .ww_1200 #selrount .item5 {
    left: 590px;
    top: 120px; }
  .team .ww_1200 #selrount .item6 {
    right: 0;
    top: 146px; }
  .team .ww_1200 #selrount-c li {
    width: 84px;
    height: 100px;
    /*border: 1px solid red;*/
    position: absolute;
    cursor: pointer; }
  .team .ww_1200 #selrount-c .item1 {
    left: 124px;
    top: 274px; }
  .team .ww_1200 #selrount-c .item2 {
    left: 214px;
    top: 204px; }
  .team .ww_1200 #selrount-c .item3 {
    left: 322px;
    top: 256px; }
  .team .ww_1200 #selrount-c .item4 {
    left: 476px;
    top: 270px; }
  .team .ww_1200 #selrount-c .item5 {
    left: 582px;
    top: 210px; }
  .team .ww_1200 #selrount-c .item6 {
    left: 774px;
    top: 224px; }
  .team .ww_1200 #joinin {
    position: absolute;
    right: 41px;
    top: 286px;
    display: block;
    width: 152px;
    height: 84px; }

.contactus {
  width: 100%;
  background-color: #454545;
  padding: 40px 0; }
  .contactus .per70 {
    width: 70%;
    margin: 0 auto; }
    .contactus .per70 .items .c-u {
      font-size: 26px;
      color: #fff;
      margin-bottom: 26px; }
    .contactus .per70 .items .new2 {
      margin-top: 50px; }
    .contactus .per70 .items .size16 {
      font-size: 16px;
      color: #fff; }
    .contactus .per70 .items #listnav li {
      line-height: 34px; }
      .contactus .per70 .items #listnav li a {
        font-size: 16px;
        color: #fff; }
        .contactus .per70 .items #listnav li a:before {
          content: "";
          width: 8px;
          height: 8px;
          display: inline-block;
          background-color: #fff;
          border-radius: 50%;
          line-height: 34px;
          margin-right: 10px;
          font-size: 16px;
          position: relative;
          top: -2px; }
    .contactus .per70 .items2 .pad-box {
      padding-left: 40px; }
      .contactus .per70 .items2 .pad-box .put-p input {
        background-color: #393939;
        height: 40px;
        line-height: 40px;
        color: #fff;
        text-indent: 1.6rem;
        width: 100%; }
      .contactus .per70 .items2 .pad-box .put-p textarea {
        color: #fff;
        text-indent: 1.6rem;
        width: 100%;
        background-color: #393939;
        border: 0;
        line-height: 40px;
        height: 199px;
        max-width: 100%;
        max-height: 240px; }
    .contactus .per70 .items3 .btn-g {
      text-align: center;
      font-size: 24px;
      width: 44px;
      height: 44px;
      line-height: 44px;
      background-color: #39ca87;
      color: #fff;
      margin-top: 318px; }

.isfooter {
  width: 100%;
  background-color: #3c3c3c;
  padding: 24px 0; }
  .isfooter .isw1200 {
    width: 1200px;
    margin: 0 auto; }
    .isfooter .isw1200 .f-l {
      font-size: 22px;
      position: relative;
      letter-spacing: 2px;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      color: #fff;
      height: 43px;
      line-height: 43px;
      padding-left: 66px; }
      .isfooter .isw1200 .f-l:before {
        content: '';
        background: url(../img/logo.png);
        display: inline-block;
        width: 45px;
        height: 45px;
        position: absolute;
        top: 2px;
        background-size: contain;
        left: 0;
        background-repeat: no-repeat; }
    .isfooter .isw1200 .f-r {
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .isfooter .isw1200 .f-r ul {
        display: block;
        height: 43px;
        padding-bottom: 0;
        margin-bottom: 0;
        line-height: 43px; }
        .isfooter .isw1200 .f-r ul li {
          float: left; }
          .isfooter .isw1200 .f-r ul li a {
            padding: 10px 15px; }
            .isfooter .isw1200 .f-r ul li a:hover {
              color: #36ccb5 !important;
              text-decoration: none; }
          .isfooter .isw1200 .f-r ul li .fonts {
            font-size: 16px;
            color: #fff; }
          .isfooter .isw1200 .f-r ul li .squares {
            font-size: 20px;
            color: #fff;
            position: relative;
            top: -2px; }

/*placeholder样式设置*/
::-webkit-input-placeholder {
  color: #7b7b7b;
  font-size: 1.6rem; }

@media screen and (max-width: 1280px) {
  .works .sp-box .swiper-container .swiper-wrapper .swiper-slide .content-w .modals .font-content h3 {
    font-size: 2.6rem;
    margin-bottom: 20px; }

  .works .sp-box .swiper-container .swiper-wrapper .swiper-slide .content-w .modals .font-content p {
    font-size: 1.5rem; }

  .works .sp-box .swiper-container .swiper-wrapper .swiper-slide .content-w .modals .font-content a {
    margin-top: 12px;
    width: 50px;
    height: 50px;
    background: url("../img/arrow_right.png") no-repeat 18px center; } }
@media screen and (max-width: 768px) {
  .sur {
    height: 410px; }

  .sur .auto_w1200 {
    width: 90%;
    margin-left: 5%; }

  .sur .auto_w1200 .wwd {
    font-size: 22px; }
    .sur .auto_w1200 .wwd:after {
      border-width: 1px;
      margin-top: 18px; }

  .sur .auto_w1200 .perc80 {
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .sur .auto_w1200 .perc80 .perc50 {
      width: 50%;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .sur .auto_w1200 .perc80 .perc50 .rount {
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 50%;
        background-color: #195b6f; }
      .sur .auto_w1200 .perc80 .perc50 .left-rightitem {
        line-height: 50px;
        color: #fff;
        font-size: 14px;
        margin-left: 4px; }

  .mr-bottom {
    margin-bottom: 20px; }

  .shows_contents {
    margin-top: 50px; } }
.curtain {
  position: fixed;
  top: 73px;
  left: 0;
  width: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  height: calc(100% - 73px);
  overflow-y: scroll;
  z-index: 10; }
  .curtain #m-line {
    border: none;
    border-top: 1px solid #ccc;
    margin: 0;
    padding: 0; }
  .curtain .closebtn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0; }
    .curtain .closebtn:after {
      content: "x";
      color: #fff;
      font-size: 20px;
      text-align: center;
      line-height: 40px;
      position: relative;
      top: -2px; }
  .curtain .boxs {
    width: 100%;
    background-color: #fff;
    overflow-y: scroll;
    padding-bottom: 50px;
    position: relative; }
    .curtain .boxs .pr {
      position: fixed;
      background-color: #fff;
      width: 100%;
      bottom: 0;
      left: 0;
      height: 5rem;
      border-top: 1px solid #ccc;
      line-height: 5rem; }
      .curtain .boxs .pr a {
        font-size: 1.8rem;
        color: #6b6b6b;
        margin-left: 5%; }
    .curtain .boxs .prne a {
      display: inline-block;
      color: #8b8b8b;
      font-size: 14px;
      position: relative;
      z-index: 11; }
    .curtain .boxs .prne .prev-a {
      margin-left: 5%; }
    .curtain .boxs .prne .next-a {
      margin-right: 5%;
      float: right; }
    .curtain .boxs .h-tit {
      color: #4c4c4c;
      font-size: 2rem;
      text-align: center;
      padding-top: 1.6rem; }
      .curtain .boxs .h-tit:after {
        content: "PRODUCTS INTRODUCTION";
        font-size: 1.2rem;
        color: #a6a6a6;
        display: block;
        margin-top: 6px;
        margin-bottom: 8px; }
    .curtain .boxs .container-div {
      width: 90%;
      margin-left: 5%;
      text-align: center; }
      .curtain .boxs .container-div #f-time2 span {
        color: #8b8b8b;
        font-size: 12px; }
      .curtain .boxs .container-div #f-time2 #lookeyes {
        position: relative;
        top: 2px;
        right: 10px; }
      .curtain .boxs .container-div dl {
        text-align: left;
        margin-bottom: 40px; }
        .curtain .boxs .container-div dl dt {
          margin-top: 20px; }
          .curtain .boxs .container-div dl dt p {
            font-size: 1.2rem;
            line-height: 1.6rem;
            color: #6b6b6b;
            text-indent: 1.2rem;
            text-align: justify;
            font-weight: normal;
            font-family: arial,"Microsoft yahei"; }
        .curtain .boxs .container-div dl dd h3 {
          font-size: 2rem;
          color: #09c8c6;
          text-align: center;
          font-weight: normal; }
        .curtain .boxs .container-div dl dd p {
          font-size: 1.2rem;
          line-height: 1.6rem;
          color: #6b6b6b;
          text-indent: 1.2rem;
          text-align: justify;
          font-weight: normal;
          font-family: arial,"Microsoft yahei"; }

#backTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 999;
  display: none; }

/* 文字部分*/
@media screen and (max-width: 768px) {
  .bg-pic .banner-txt h2 {
    font-size: 31px; }

  .fon .wwd {
    font-size: 22px; }
    .fon .wwd:after {
      border-width: 1px; }

  .fon .tc {
    font-size: 16px; }

  .works .wwd {
    font-size: 22px; }
    .works .wwd:after {
      border-width: 1px; }

  .team .wwd {
    font-size: 22px; }
    .team .wwd:after {
      border-width: 1px; }

  .shows_contents .pec70 .items .padding-box .green-box {
    margin-top: 16px;
    width: 18%; }

  .shows_contents .pec70 .items .padding-box .right-box {
    margin-top: 16px; }

  .shows_contents .pec70 .items .padding-box .right-box {
    width: 80%;
    margin-left: 2%; }

  .shows_contents .pec70 .items .padding-box .right-box h3 {
    font-size: 16px; }

  .shows_contents .pec70 .items .padding-box .right-box p {
    font-size: 14px; }

  .shows_contents .pec70 .items .padding-box .green-box span {
    font-size: 20px; }

  .shows_contents .pec70 .items .padding-box .green-box .black-box {
    font-size: 12px; }

  .contactus .per70 .items2 .pad-box {
    padding-left: 0; }

  .contactus .per70 .items3 .btn-g {
    margin-top: 0; }

  .isfooter .isw1200 {
    padding: 0 15px;
    width: 100%; }

  .isfooter .isw1200 .f-r {
    display: none; } }
@media screen and (max-width: 768px) {
  #selrount-c, #selrount {
    display: none; }

  .team .ww_1200 {
    width: 100%; } }
@media screen and (max-width: 768px) {
  #banner_ctrl .mobile-bottom {
    margin-bottom: 30px; }

  .shows_contents .pec70 {
    width: 100%;
    margin-left: 0; } }
@media screen and (max-width: 768px) {
  .swiper-slide .mobile-bottom {
    /* margin-bottom:30px; */ } }
@media screen and (max-width: 768px) {
  .modals .font-content {
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

  .modals .font-content h3 {
    font-size: 1.6rem !important; }

  .modals .font-content p {
    font-size: 1.4rem !important;
    line-height: 20px !important; }

  .modals .font-content a {
    background: url("../img/arrow_right.png") no-repeat 14px center !important;
    width: 40px !important;
    height: 40px !important;
    margin-top: 0.6rem !important; } }
@media screen and (max-width: 768px) {
  #banner_ctrl {
    width: 90%; }

  #numcount .mobile-bottom {
    margin-bottom: 24px; }

  .fon {
    padding: 30px 0; }

  .works {
    padding: 30px 0 0 0; }

  .map-div {
    width: 100% !important;
    left: 0 !important; } }
/* baiduMap */
.map-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  will-change: opacity;
  opacity: 0; }

.map-div {
  width: 50%;
  height: 60%;
  position: fixed !important;
  left: 25%;
  top: 24%;
  z-index: 1001 !important;
  visibility: hidden;
  will-change: top; }
