@charset "UTF-8";
* {
  box-sizing: border-box; }

.banner-box {
  width: 100%;
  height: auto;
  margin-top: 75px;
  position: relative; }
  .banner-box .imgbox {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: url("../img/banner-bg.png") no-repeat;
    background-size: cover;
    position: relative;
    padding: 6.6rem 0; }
    .banner-box .imgbox .bgmodal {
      width: 20%;
      height: 100%;
      background: #3880a2;
      opacity: 0.5;
      filter: alpha(opacity=50);
      -webkit-mask-image: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(33%, black), color-stop(66%, black), color-stop(100%, transparent));
      position: absolute;
      top: 0; }
    .banner-box .imgbox .left-modal {
      background: linear-gradient(180deg, transparent 0%, #3880a2 50%, #3880a2 100%);
      background: -moz-linear-gradient(180deg, transparent 0%, #3880a2 50%, #3880a2 100%);
      background: -ms-linear-gradient(180deg, transparent 0%, #3880a2 50%, #3880a2 100%);
      background: -o-linear-gradient(180deg, transparent 0%, #3880a2 50%, #3880a2 100%);
      background: -webkit-linear-gradient(180deg, transparent 0%, #3880a2 50%, #3880a2 100%);
      left: 0; }
    .banner-box .imgbox .right-modal {
      background: linear-gradient(180deg, #3880a2 0%, #3880a2 50%, transparent 100%);
      background: -moz-linear-gradient(180deg, #3880a2 0%, #3880a2 50%, transparent 100%);
      background: -ms-linear-gradient(180deg, #3880a2 0%, #3880a2 50%, transparent 100%);
      background: -o-linear-gradient(180deg, #3880a2 0%, #3880a2 50%, transparent 100%);
      background: -webkit-linear-gradient(180deg, #3880a2 0%, #3880a2 50%, transparent 100%);
      right: 0; }
  .banner-box .vmc-arrow {
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    z-index: 2;
    cursor: pointer; }
  .banner-box .v-left {
    left: 15px; }
    .banner-box .v-left:after {
      content: "";
      display: block;
      width: 44px;
      height: 44px;
      background: url("../img/prev-btn.png");
      background-size: 100%; }
  .banner-box .v-right {
    right: 15px; }
    .banner-box .v-right:after {
      content: "";
      display: block;
      width: 44px;
      height: 44px;
      background: url("../img/next-btn.png");
      background-size: 100%; }
  .banner-box .bgmodal {
    width: 20%;
    height: 100%;
    background: #3880a2;
    opacity: 0.5;
    filter: alpha(opacity=50);
    -webkit-mask-image: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(33%, black), color-stop(66%, black), color-stop(100%, transparent));
    position: absolute;
    top: 0;
    z-index: 1; }
  .banner-box .left-modal {
    background: linear-gradient(180deg, transparent 0%, #3880a2 50%, #3880a2 100%);
    background: -moz-linear-gradient(180deg, transparent 0%, #3880a2 50%, #3880a2 100%);
    background: -ms-linear-gradient(180deg, transparent 0%, #3880a2 50%, #3880a2 100%);
    background: -o-linear-gradient(180deg, transparent 0%, #3880a2 50%, #3880a2 100%);
    background: -webkit-linear-gradient(180deg, transparent 0%, #3880a2 50%, #3880a2 100%);
    left: 0; }
  .banner-box .right-modal {
    background: linear-gradient(180deg, #3880a2 0%, #3880a2 50%, transparent 100%);
    background: -moz-linear-gradient(180deg, #3880a2 0%, #3880a2 50%, transparent 100%);
    background: -ms-linear-gradient(180deg, #3880a2 0%, #3880a2 50%, transparent 100%);
    background: -o-linear-gradient(180deg, #3880a2 0%, #3880a2 50%, transparent 100%);
    background: -webkit-linear-gradient(180deg, #3880a2 0%, #3880a2 50%, transparent 100%);
    right: 0; }

.swiper-slide img {
  /* transition: all ease-in 0.5s; */ }

.swiper-slide-next img {
  /* transform: scale(1.2); */ }

.swiper-container {
  overflow: visible; }

.swiper-container #cpu {
  position: absolute;
  left: 0;
  top: 0;
  /* border: 1px solid green;
  background-color: green; */ }

.swiper-wrapper .swiper-slide.clearfix img {
  width: 60%;
  margin-left: 20%; }

#cpu {
  margin-top: -14px; }

#cpu img {
  width: 80%;
  margin-left: 10%;
  /* border: 1px solid red; */ }

.service-box {
  width: 100%;
  height: auto;
  background-color: #fff; }
  .service-box .ctn-box {
    width: 80%;
    margin: 0 auto;
    padding: 5rem 0; }
    .service-box .ctn-box .items {
      margin-bottom: 3.4rem; }
      .service-box .ctn-box .items .s-box {
        text-align: center; }
        .service-box .ctn-box .items .s-box img {
          transition: all 0.8s; }
          .service-box .ctn-box .items .s-box img:hover {
            transform: rotate(360deg); }
        .service-box .ctn-box .items .s-box .art {
          font-size: 16px;
          color: #373737;
          /* 多行文本溢出css控制代码 */
          display: -webkit-box;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-all;
          /* 规定自动换行的处理方法 允许在单词内换行 */
          -webkit-box-orient: vertical;
          /* 排列内容方向 从上向下垂直排列子元素 */
          -webkit-line-clamp: 2;
          /* 不规范的CSS代码作用 限制在一个块元素显示的文本的行数 */ }
        .service-box .ctn-box .items .s-box h4 {
          font-size: 20px;
          color: #000;
          font-weight: normal;
          /* 多行文本溢出css控制代码 */
          display: -webkit-box;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-all;
          /* 规定自动换行的处理方法 允许在单词内换行 */
          -webkit-box-orient: vertical;
          /* 排列内容方向 从上向下垂直排列子元素 */
          -webkit-line-clamp: 1;
          /* 不规范的CSS代码作用 限制在一个块元素显示的文本的行数 */ }
          .service-box .ctn-box .items .s-box h4:after {
            content: "";
            display: block;
            width: 60px;
            border-bottom: 2px #50c1e9 solid;
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 12px; }

.news-box {
  width: 100%; }
  .news-box .n-container {
    width: 80%;
    margin: 0 auto;
    padding: 5rem 0; }
    .news-box .n-container .tit {
      text-align: center;
      color: #595959;
      font-size: 20px;
      font-weight: normal;
      padding: 0 10%;
      line-height: 1.6; }
    .news-box .n-container .padding-box {
      width: 90%;
      margin-left: 5%;
      overflow: hidden;
      position: relative; }
      .news-box .n-container .padding-box .bg-hover {
        width: 100%;
        height: 100%;
        background-color: #000;
        filter: alpha(opacity=50);
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        cursor: pointer;
        opacity: 0; }
        .news-box .n-container .padding-box .bg-hover .round-box {
          width: 60px;
          height: 60px;
          border: 2px solid #fff;
          border-radius: 50%;
          position: absolute;
          left: 50%;
          margin-left: -30px;
          text-align: center;
          /* top: 50%; */
          top: -50%;
          margin-top: -30px; }
          .news-box .n-container .padding-box .bg-hover .round-box:after {
            content: "+";
            color: #fff;
            font-size: 34px;
            text-align: center;
            line-height: 52px; }
@keyframes round-animation1 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
      .news-box .n-container .padding-box .animateds {
        animation-name: round-animation1;
        animation-duration: 0.6s;
        animation-timing-function: linear;
        animation-delay: 0;
        animation-iteration-count: 1;
        animation-direction: alternate;
        animation-fill-mode: forwards; }
      .news-box .n-container .padding-box .green-box {
        background-color: #3dc98a;
        font-size: 40px;
        margin-top: 24px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: #fff;
        width: 20%;
        text-align: center; }
        .news-box .n-container .padding-box .green-box .black-box {
          margin-top: 36px;
          background-color: #525252;
          font-size: 18px; }
      .news-box .n-container .padding-box .right-box {
        width: 76%;
        margin-left: 4%;
        margin-top: 24px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: 118px; }
        .news-box .n-container .padding-box .right-box h3 {
          color: #373737;
          font-size: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical; }
        .news-box .n-container .padding-box .right-box p {
          font-size: 16px;
          color: #373737;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical; }
  .news-box .n-container .list-container {
    margin-top: 2rem; }

.n-container .list-container .items {
  padding: 3.6rem 0; }

@media screen and (max-width: 1366px) {
  #cpu {
    margin-top: -12px; } }
@media screen and (max-width: 1280px) {
  #cpu {
    margin-top: -10px; } }
@media screen and (max-width: 1200px) {
  #cpu {
    margin-top: -10px; } }
@media screen and (max-width: 1100px) {
  #cpu {
    margin-top: -10px; } }
@media screen and (max-width: 1000px) {
  #cpu {
    margin-top: -8px; } }
@media screen and (max-width: 768px) {
  #cpu {
    display: none; }

  .news-box .n-container .padding-box .green-box .black-box {
    font-size: 12px; }

  .news-box .n-container .padding-box .green-box {
    margin-top: 16px;
    width: 18%; }
    .news-box .n-container .padding-box .green-box span {
      font-size: 20px; }

  .news-box .n-container .padding-box .right-box {
    width: 80%;
    margin-left: 2%;
    margin-top: 16px; }

  .news-box .n-container .padding-box .right-box h3 {
    font-size: 16px;
    margin-top: 16px; }

  .news-box .n-container .padding-box .right-box p {
    font-size: 14px; }

  .n-container .list-container .items {
    padding: 2rem 0; } }
